<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chcreation.geprin_sion">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autoFocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".remaja.AddRemajaActivity"></activity>
        <activity android:name=".remaja.ForumActivity" />
        <activity android:name=".remaja.AbsentActivity" />
        <activity android:name=".archive.ArchiveViewImageActivity" />
        <activity android:name=".home.ContentDetailActivity" />
        <activity android:name=".home.AddContentActivity" />
        <activity android:name=".user.UserActivity" />
        <activity android:name=".jemaat.JemaatFilterActivity" />
        <activity android:name=".jemaat.JemaatDetailActivity" />
        <activity android:name=".jemaat.ManageJemaatActivity" />
        <activity android:name=".jemaat.NewJemaatActivity" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.SignUpActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".main.ErrorActivity" />
        <activity android:name=".main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.geprin_sion.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>